
/* wrapper du block contenant les allumettes */
.gameWrapper {
    display: flex;
    margin-top: 3em;
    justify-content: center;
}

/* wrapper des 2 rectangles informatif precisant a qui de jouer */
.selectedWrapper {
    display: flex;
    width: 80%;
    margin: 1em auto;
    justify-content: space-around;
}

/* texte indiquant le nb d'allumettes restante */
.info {
    margin: 2em auto;
    font-size: 1.5em;
}

/* tige de l'allumette */
.allumette {
    height: 5em;
    width: .8em;
    position: relative;
    background: rgba(236, 231, 159, 0.92);
    border: 1px solid rgba(189, 177, 7, 0.92);
    margin: 0 .25em;
}

/* partie rouge de l'allumette */
.allumette:after {
    content: "";
    position: absolute;
    top: -1em;
    left: -1px;
    height: 1em;
    width: calc(1em - 3px);
    background: #b51b1b;
    border-top-left-radius: .5em;
    border-top-right-radius: .5em;
    border: 1px solid;
}

.userWrapper, .computerWrapper {
    width: 40%;
    border: 4px double #ccc;
    padding: .5em;
}

.userWrapper.selected, .computerWrapper.selected {
    border: 4px double blue;
}

/* bouton permettant le lancer le jeu */
.startPlay {
    padding: .5em 1em;
    margin: 2em auto;
    border-radius: .33em;
    width: 8em;
    font-size: 1.25em;
}

/* wrapper contenant les differents choix (1,2,3) */
.chooseWrapper {
    display: flex;
    width: 50%;
    margin: auto;
    justify-content: space-between;
}

/* bouton representant les choix */
.choice {
    width: 25%;
    border: 4px double #ccc;
    padding: .5em;
    text-align: center;
    border-radius: .4em;
    margin: 1em auto;
}

/* animation lors de la disparition des allumettes */
@-webkit-keyframes slideOutDown {
    0% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  
    100% {
      visibility: hidden;
      -webkit-transform: translateY(100%);
      transform: translateY(100%);
    }
  }
  
  @keyframes slideOutDown {
    0% {
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
    }
  
    100% {
      visibility: hidden;
      -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
      transform: translateY(100%);
    }
  }
  
  .slideOutDown {
    -webkit-animation-name: slideOutDown;
    animation-name: slideOutDown;
  }

  .animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }  