<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center" class="row">
  <h1>
    {{ title }}!
  </h1>

  <div class="selectedWrapper">
    <div class="userWrapper" [className]="statusPlayer=='user' ? 'userWrapper selected' : 'userWrapper'" >
      <div class="infoSelected">Joueur 1</div>
    </div>
    <div class="computerWrapper" [className]="statusPlayer=='computer' ? 'computerWrapper selected' : 'computerWrapper'" >
      <div class="infoSelected">Computer</div>
    </div>
  </div>

  <div class="info">{{ nbToken }} Allumettes</div>

  <div class="gameWrapper">
    <div *ngFor="let t of token">
      <div [className]="t.cssClass" *ngIf="t.status == 'visible'"> </div>
    </div>
  </div>

  <button *ngIf="statusGame == 'unstarted'" class="startPlay" (click)="start()" >Play</button>

  <div class="chooseWrapper" *ngIf="statusGame == 'started' && statusPlayer === 'user'" >
    <div class="choice choice1" (click)="userChoose(1)">1</div>
    <div class="choice choice2" (click)="userChoose(2)">2</div>
    <div class="choice choice3" (click)="userChoose(3)">3</div>
  </div>
</div>

